css 
#contact {
    background: url('/resources/images/vives.jpg') no-repeat center center;
    background-size: cover;
    backdrop-filter: blur(8px);
    color: #333;
    padding: 20px;
}

.contact-container {
    display: flex;
    max-width: 900px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    text-shadow: rgba(0, 0, 0, 0.455) 2px 2px 9px;
}

.contact-info {
    flex: 1;
    background-color: cornflowerblue;
    padding: 20px;
}

.contact-info h2 {
    color: #000000;
}

.contact-info p,
.contact-info a {
    color: #333;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-icons a {
    margin-right: 10px;
    /*align items next to each ohter*/
    display: inline-block;
}

.contact-form {
    flex: 1;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.contact-form h2 {
    color: #fff;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #444;
    padding: 5px;
    border-radius: 4px;
}

.input-group img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
}
.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #2c2b2b;
    box-shadow: #767373 0 0 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
.contact-form button:hover {
    background-color: #666;
}